.zaui-page {
  padding: calc(
      max(
          var(--zaui-safe-area-inset-top, 0px),
          var(--safe-area-inset-top, 0px)
        ) +
        44px
    )
    8px
    calc(
      max(
          var(--zaui-safe-area-inset-bottom, 0px),
          var(--safe-area-inset-bottom, 0px)
        ) +
        81px
    )
    8px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

@keyframes scan {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes border-glow {
  0%,
  100% {
    box-shadow: 0 0 15px -5px currentColor;
  }
  50% {
    box-shadow: 0 0 30px 5px currentColor;
  }
}

.animate-scan {
  animation: scan 2s linear infinite;
}

.animate-border-glow {
  animation: border-glow 2s ease-in-out infinite;
}
